<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>Purchase Successful</h2>
<p>Thank you for purchasing <strong>{{ property.name }}</strong>!</p>
<p>Location: {{ property.location }}</p>
<p>Size: {{ property.size }} sq. ft</p>
<p>Bedrooms: {{ property.bedrooms }}</p>
<p>Sale Price: ${{ property.sale_price }}</p>
<a href="{% url 'property_list' %}" style="color: blue; text-decoration: underline;">Return to Property List</a>

</body>
</html> -->